<p>Play "Frolic" by Luciano Michelini, also known as the theme song from the show Curb Your Enthusiasm, when your character dies.</p>
<div class="center">
  <a href="/img/curb-your-death.png"><img src="/img/curb-your-death.png" title="Those moments" /></a>
</div>
<h4 id="install">Installation:</h4>
<p><a href="https://www.youtube.com/watch?v=xzq_ksVuRgc">This short video</a> demonstrates the whole process in under two minutes.</p>
<ol>
  <li>Download the zip from a link above (<span class="bold">OpenMW 0.48.0 or newer is required!</span>)</li>
  <li>Extract the contents to a location of your choosing, examples below:
    <pre><code># Windows
C:\games\OpenMWMods\Audio\CurbYourDeath

# Linux
/home/username/games/OpenMWMods/Audio/CurbYourDeath

# macOS
/Users/username/games/OpenMWMods/Audio/CurbYourDeath</code></pre>
  </li>
  <li>Add the appropriate data path to your <code>openmw.cfg</code> file, for example:
    <pre><code>data="C:\games\OpenMWMods\Audio\CurbYourDeath"</code></pre>
  </li>
  <li>Enjoy and try not to die too much!</li>
</ol>
